fastapi
uvicorn[standard]
pydantic

#For limiting API requests
slowapi
python-multipart

# Job queue + storage (to come in handy soon)
celery
redis
boto3

# Media handling
ffmpeg-python

# Speech-to-text (using regular whisper)
openai-whisper

# LlamaIndex and RAG pipeline
llama-index
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-chroma
google-generativeai
chromadb
pypdf

# Utils
python-dotenv
